#wheel {
	top: 0;
	left: 0;
	width: 800px;
	border-radius: 400px;
	-webkit-transition: -webkit-transform 0.5s linear;
	-moz-transition: -moz-transform 0.5s linear;
	-ms-transition: transform 0.5s linear;
}

#wheeltick {
	position: relative;
	font-family: Arial;
	font-size: 96px;
	font-weight: bold;
	color: #fff;
	z-index: 100;
	text-align: center;
}
